<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aprendiomas - Homepage</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/midorima-personal-use"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/gang-of-three"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/shared/normalize.css" />
    <link rel="stylesheet" href="/shared/common.css" />
    <link rel="stylesheet" href="/shared/navbar/nav.css" />
    <script src="/shared/navbar/nav.js" defer type="module"></script>
    <!-- Incluir aqui CSS/JS relavante para tu vista -->
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a href="index.html" class="logo">
        <img src="/src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" />
      </a>

      <button
        class="navbar-menu"
        aria-label="Abrir menú"
        aria-expanded="false"
        aria-controls="main-menu"
        id="navbar-menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="menu"
        >
          <path d="M4 5h16" />
          <path d="M4 12h16" />
          <path d="M4 19h16" />
        </svg>
      </button>

      <ul id="nav-links" class="nav-links">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon-x"
          id="icon-x"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>

        <li><a href="index.html">INICIO</a></li>
        <li>
          <a href="courses.html">CURSOS</a>
        </li>
        <li><a href="about_us.html">NOSOTROS</a></li>
        <li><a href="community.html">COMUNIDAD</a></li>
        <li><a href="contact_us.html">CONTACTO</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li class="signup-list-item">
          <a href="signup.html" class="primary button">¡Inscríbete!</a>
        </li>

        <li class="nav-icons-group">
          <a href="login.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon-circle-user"
            >
              <circle cx="12" cy="12" r="10" />
              <circle cx="12" cy="10" r="3" />
              <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
            </svg>
          </a>
          <a href="cart.html">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon-shopping-cart"
            >
              <circle cx="8" cy="21" r="1" />
              <circle cx="19" cy="21" r="1" />
              <path
                d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
              />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!-- FIN Navbar -->
    <main class="main-container">
      <!-- Solo modificar aqui -->
    </main>
    <!-- Footer -->
    <footer class="footer">
      <a>Términos y Condiciones</a><a>Aviso de Privacidad</a>
      <span>© 2026 Aprenidiomas </span> <span>Powered by NaN</span>
    </footer>
    <!-- FIN Footer -->
  </body>
</html>
