<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/midorima-personal-use" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gang-of-three" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles_AboutUs.css">
</head>

<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo-container">
            <a href="#">
                <img src="../../src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" class="logo">
            </a>
        </div>

        <button class="hamburger" aria-label="Abrir menú" aria-expanded="false" aria-controls="main-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="nav-menu" id="main-menu">
            <nav>
                <ul class="nav-links">
                    <li><a href="../../index.html" data-link>INICIO</a></li>
                    <li><a href="#" data-link>CURSOS</a></li>
                    <li><a href="about_us.html" class="ul-active" data-link>NOSOTROS</a></li>
                    <li><a href="community.html" data-link>COMUNIDAD</a></li>
                    <li><a href="#" data-link>TESTIMONIOS</a></li>
                    <li><a href="contact_us.html" data-link>CONTACTO</a></li>
                    <li><a href="#" data-link>FAQ</a></li>

                    <li class="mobile-actions">
                        <button class="btn-enroll full-width">¡Inscríbete!</button>
                        <div class="icons-nav mobile-icons">
                            <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-actions desktop-actions">
            <button class="btn-enroll">¡Inscríbete!</button>
            <div class="icons-nav">
                <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
            </div>
        </div>
    </header>
    <div class="menu-overlay"></div>
    <!-- FIN Navbar -->

    <!-- <div><span class="fish-asian-sticker"><img src="images/fishAsian.png" alt="Fish"></span></div> -->

    <!-- Panel 1 Descripción About -->
    <section class="about-section">

        <div class="parrot-sticker">
            <video src="../assets/videos/Animación_de_Logo_con_Mundo_Giratorio.mp4" autoplay muted playsinline>
            </video>
        </div>

        <div class="panel-description-about">
            <div class="desc-content">
                <h2 class="highlight-text-description">Nuestra Misión: <br> Más que Enseñar: Impulsar</h2>
                <p>En AprenIdiomas no solo formamos estudiantes; somos la puerta de entrada al mundo profesional para talentos en chino, coreano y japonés. Brindamos a quienes dominan estos idiomas la oportunidad de enseñar, ganar experiencia y crecer en una comunidad real.
                </p>
            </div>
        </div>

        <div class="panel-info-about">
            <div class="info-content">
                <p class="small-text">Aprender para</p>
                <h1 class="highlight-text">CRECER.</h1>
                <p class="small-text">Enseñar para</p>
                <h1 class="highlight-text">TRANSFORMAR.</h1>
                <div class="btn-group">
                <button class="btn-courses">Cursos</button>
                <button class="btn-info">¡Inscríbete!</button>
                </div>
            </div>
        </div>

    </section>
    </div>
    <!-- FIN del panel 1 y 2-->

    <!-- Panel 3 y 4 -->
    <section class="info-section">

        <!-- <div class="panel-stats">
            <div class="stat-item">
                <span class="stat-number">300</span>
                <p class="stat-text">Estudiantes motivados<br>por el estudio del idioma</p>
            </div>

            <div class="stat-item">
                <span class="stat-number">+5</span>
                <p class="stat-text">Años de<br>experiencia</p>
            </div>

            <div class="stat-item">
                <span class="stat-number">24</span>
                <p class="stat-text">Horas activas para<br>responder tus dudas</p>
            </div>
        </div>

        <div class="panel-community">
            <div class="community-content">
                <h2>Únete a nuestros grupos<br>y forma parte de esta</h2>
                <h2 class="highlight-text">LINDA COMUNIDAD</h2>
                <button class="btn-community">Nosotros</button>
            </div>
        </div> -->

    </section>
    <!-- FIN Panel 3 y 4 -->



    <!-- Footer -->   
    <footer class="main-footer">
        <a href="#">Términos y Condiciones | Aviso de Privacidad | © 2026 Aprenidiomas - Powered by NaN</a>
    </footer>
    <!-- FIN Footer -->

    <script src="../js/animations_About.js" type="module"></script>
</body>

</html>