<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/midorima-personal-use" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gang-of-three" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles_AboutUs.css">
</head>

<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo-container">
            <a href="#">
                <img src="../../src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" class="logo">
            </a>
        </div>

        <button class="hamburger" aria-label="Abrir menú" aria-expanded="false" aria-controls="main-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="nav-menu" id="main-menu">
            <nav>
                <ul class="nav-links">
                    <li><a href="../../index.html" data-link>INICIO</a></li>
                    <li><a href="#" data-link>CURSOS</a></li>
                    <li><a href="/about_us" class="ul-active" data-link>NOSOTROS</a></li>
                    <li><a href="/community" data-link>COMUNIDAD</a></li>
                    <li><a href="#" data-link>TESTIMONIOS</a></li>
                    <li><a href="/contact_us" data-link>CONTACTO</a></li>
                    <li><a href="#" data-link>FAQ</a></li>

                    <li class="mobile-actions">
                        <a href="/signup">
                            <button class="btn-enroll">¡Inscríbete!</button>
                        </a>
                        <div class="icons-nav mobile-icons">
                            <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-actions desktop-actions">
            <a href="/signup">
                <button class="btn-enroll">¡Inscríbete!</button>
            </a>
            <div class="icons-nav">
                <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
            </div>
        </div>
    </header>
    <div class="menu-overlay"></div>
    <!-- FIN Navbar -->

    <!-- <div><span class="fish-asian-sticker"><img src="images/fishAsian.png" alt="Fish"></span></div> -->

    <section class="hero-panels">

        <!-- PANEL IZQUIERDO (CARRUSEL DE TEXTO) -->
        <div class="panel-left-top">

            <div class="text-carousel">

                <button class="text-prev">&#10094;</button>

                <div class="text-carousel-window">
                    <div class="text-carousel-track">

                        <!-- CLON DEL ÚLTIMO -->
                        <div class="text-slide">
                            <h3>Unidos por una misma pasión:</h3>
                            <p>texto de ejemplo</p>
                        </div>

                        <!-- SLIDE 1 -->
                        <div class="text-slide">
                            <h3>NUESTRA MISIÓN:</h3>
                            <h2>MÁS QUE ENSEÑAR: IMPULSAR</h2>
                            <p>En Aprenldiomas no solo formamos estudiantes; somos <br>
                                la puerta de entrada al mundo profesional para talentos <br>
                                en chino, coreano y japonés. Brindamos a quienes <br>
                                dominan estos idiomas la oportunidad de enseñar, <br>
                                ganar experiencia y crecer en una comunidad real.</p>
                        </div>

                        <!-- SLIDE 2 -->
                        <div class="text-slide">
                            <h3>PORQUE CREEMOS EN</h3>
                            <h2>EL TALENTO SIN BARRERAS:</h2>
                            <p>Nuestro modelo nace para desafiar un sistema de altos costos y falta de
                                oportunidades. Democratizamos el aprendizaje conectando a quienes tienen el
                                conocimiento con quienes desean aprender, eliminando los obstáculos que
                                limitan el crecimiento profesional.</p>
                        </div>

                        <!-- SLIDE 3 -->
                        <div class="text-slide">
                            <h3>Unidos por una misma pasión:</h3>
                            <p>Somos una comunidad que celebra la cultura asiática. Creemos que los idiomas
                                no son solo palabras, sino puentes para crear conexiones, abrir puertas y
                                transformar historias de vida.</p>
                        </div>

                        <!-- CLON DEL PRIMERO -->
                        <div class="text-slide">
                            <h3>NUESTRA MISIÓN:</h3>
                            <h2>MÁS QUE ENSEÑAR: IMPULSAR</h2>
                            <p>En AprenIdiomas no solo formamos...</p>
                        </div>

                    </div>
                    <button class="text-next">&#10095;</button>

                </div>

            </div>

        </div>

        <!-- IMAGEN FLOTANTE -->
        <div class="hero-image">
            <img src="../assets/images/AprenIdiomas_LOGO-01.png" alt="Mascota">
        </div>
        <!-- PANEL DERECHO arriba -->
        <div class="panel-right-top">
            <h2>
                <span class="texto-aprender">Aprender para</span><br>
                <span class="texto-crecer">CRECER</span>
            </h2>
            <p>
                <span class="texto-ensenar">Enseñar para<br><span class="texto-transformar">transformar</span></span>
            </p>

            <div class="hero-buttons">
                <button class="btn-cursos">Cursos</button>
                <button class="btn-inscribete">Inscríbete</button>
            </div>
        </div>



    </section>
    <div class="section-gap"></div>

    <section class="panels-3-4">
        <!-- PANEL ABAJO IZQUIERDA -->
        <div class="left-panel"></div>
        <div class="vertical-line"></div>
        </div>

        <p class="text t1"> +2,500</p>
        <p class="text t2">100%</p>

        <p class="text t3">Historias de crecimiento, motivación <br>
            y aprendizaje continuo forman parte<br>
            de nuestra comunidad.</p>
        <p class="text t4">
            Compromiso con educación accesible<br>
            y de calidad, aprender sin barreras.<br>
            Crecer sin límites.
        </p>
        <p class="text t5">Nuestro impacto en</p>
        <p class="text t6">Cada número representa una historia, un objetivo alcanzado y una nueva oportunidad creada.
        </p>
        <p class="text t7">CRECIMIENTO</p>
        <p class="text t8">En Aprenldiomas seguimos creciendo junto a nuestra comunidad.</p>

        <!-- IMAGEN FLOTANTE -->
        <div class="fan-sticker">
            <img src="../assets/icons/abanicoAsiatico.svg" alt="Mascota">
        </div>

        <!-- PANEL DERECHO -->
        <div class="right-panel">
            <div class="carousel-block">
                <h3>Conoce a<br />nuestros alumnos</h3>

                <div class="carousel-wrapper">
                    <button class="prev">&#10094;</button>

                    <div class="carousel">
                        <div class="carousel-track">
                            <!-- Clon último -->
                            <img src="../assets/images/student.jpg" />

                            <!-- Lista de estudiantes -->
                            <img src="../assets/images/student.jpg" />
                            <img src="../assets/images/student.jpg" />
                            <img src="../assets/images/student.jpg" />

                            <!-- Clon primero -->
                            <img src="../assets/images/student.jpg" />
                        </div>
                    </div>

                    <button class="next">&#10095;</button>
                </div>
            </div>
        </div>
    </section>
    </main>



    <!-- Footer -->
    <footer class="main-footer">
        <a href="#">Términos y Condiciones | Aviso de Privacidad | © 2026 Aprenidiomas - Powered by NaN</a>
    </footer>
    <!-- FIN Footer -->

    <script src="../js/carruselEstudiantes.js" type="module"></script>
    <script src="../js/animations_About.js"> type="module"</script>
    <script src="../js/carruselTextoAboutUs.js" type="module"></script>
</body>

</html>