<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Aprenidiomas</title>
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/midorima-personal-use" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gang-of-three" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../src/assets/css/styles_AboutUs.css">
</head>

<body>
    <!-- Navbar -->
    <header class="navbar">
        <div class="logo-container">
            <a href="#">
                <img src="../../src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" class="logo">
            </a>
        </div>

        <button class="hamburger" aria-label="Abrir menú" aria-expanded="false" aria-controls="main-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="nav-menu" id="main-menu">
            <nav>
                <ul class="nav-links">
                    <li><a href="../../index.html" data-link>INICIO</a></li>
                    <li><a href="#" data-link>CURSOS</a></li>
                    <li><a href="about_us.html" class="ul-active" data-link>NOSOTROS</a></li>
                    <li><a href="community.html" data-link>COMUNIDAD</a></li>
                    <li><a href="#" data-link>TESTIMONIOS</a></li>
                    <li><a href="#" data-link>CONTACTO</a></li>
                    <li><a href="#" data-link>FAQ</a></li>

                    <li class="mobile-actions">
                        <button class="btn-enroll full-width">¡Inscríbete!</button>
                        <div class="icons-nav mobile-icons">
                            <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-actions desktop-actions">
            <button class="btn-enroll">¡Inscríbete!</button>
            <div class="icons-nav">
                <span class="icon-user">👤</span> <span class="icon-cart">🛒</span>
            </div>
        </div>
    </header>
    <div class="menu-overlay"></div>
    <!-- FIN Navbar -->

    <!-- Panel 1 Descripción About -->
    <section class="about-section">

        <div class="parrot-sticker">
            <video src="../assets/videos/Animación_de_Logo_con_Mundo_Giratorio.mp4" autoplay muted playsinline>
            </video>
        </div>

        <div class="panel-description-about">
            <div class="desc-content">
                <h2 class="highlight-text-description">Nuestra Misión: <br> Más que Enseñar: Impulsar</h2>
                <p>En AprenIdiomas no solo formamos estudiantes; somos la puerta de entrada al mundo profesional para talentos en chino, coreano y japonés. Brindamos a quienes dominan estos idiomas la oportunidad de enseñar, ganar experiencia y crecer en una comunidad real.
                </p>
            </div>
        </div>

        <div class="panel-info-about">
            <div class="info-content">
                <p class="small-text">Aprender para</p>
                <h1 class="highlight-text">CRECER.</h1>
                <p class="small-text">Enseñar para</p>
                <h1 class="highlight-text">TRANSFORMAR.</h1>
                <div class="btn-group">
                <button class="btn-courses">Cursos</button>
                <button class="btn-info">¡Inscríbete!</button>
                </div>
            </div>
        </div>

    </section>
    </div>
    <!-- FIN del panel 1 y 2-->

    <!-- Panel 3 y 4 -->

    <!-- Proximamente se agregará esta sección -->

    <!-- FIN Panel 3 y 4 -->

    <div class="section-gap"></div>

    <section class="panels-3-4">
      <!-- PANEL ABAJO IZQUIERDA -->
       <div class="left-panel3">
        
      </div>
     
      <div class="left-panel">
        <div class="text-left">
            <div class="title-left">
                <p>Nuestro impacto en</p>
                <p>CRECIMIENTO</p>
            </div>
            <div class="content-left">
                <div class="content1-left">
                    <p>100%</p>
                    <p>
                    Compromiso con educación accesible 
                    y de calidad, aprender sin barreras.
                    Crecer sin límites.
                </p>
                </div>
                <div class="content2-left">
                    <p> +2,500</p>
                    <p>Historias de crecimiento, motivación
                    y aprendizaje continuo forman parte 
                    de nuestra comunidad.</p>
                </div>
            </div>
            
            <div class="content2left">
                <En>Cada número representa una historia, un objetivo alcanzado y una nueva oportunidad creada. En Aprenldiomas seguimos creciendo junto a nuestra comunidad.</p>
            </div>
        </div>
      </div>
        

       <!-- IMAGEN FLOTANTE -->
  <div class="fan-sticker">
    <img src="/src/assets/icons/abanicoAsiatico.svg" alt="Mascota">
  </div>

      <!-- PANEL DERECHO -->
      <div class="right-panel">
        <div class="carousel-block">
          <h3>Conoce a<br />nuestros alumnos</h3>

          <div class="carousel-wrapper">
            <button class="prev">&#10094;</button>

            <div class="carousel">
              <div class="carousel-track">
                <!-- Clon último -->
                <img src="/src/assets/images/student.jpg" />

                <!-- Lista de estudiantes -->
                <img src="/src/assets/images/profesora_audifonos.jpg" />
                <img src="/src/assets/images/student.jpg"/>
                <img src="/src/assets/images/profesora_audifonos.jpg" />

                <!-- Clon primero -->
                <img src="/src/assets/images/house.webp" />
              </div>
            </div>

            <button class="next">&#10095;</button>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="main-footer">
        <a href="#">Términos y Condiciones | Aviso de Privacidad | © 2026 Aprenidiomas - Powered by NaN</a>
    </footer>
    <!-- FIN Footer -->

    <script src="../../src/js/animations_About.js"></script>
    <script src="../js/carruselEstudiantes.js"></script>
</body>

</html>