<!doctype html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/midorima-personal-use" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/gang-of-three" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/styles_Community.css" />

</head>

<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo-container">
      <a href="#">
        <img src="/src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" class="logo" />
      </a>
    </div>

    <button class="hamburger" aria-label="Abrir menú" aria-expanded="false" aria-controls="main-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div class="nav-menu" id="main-menu">
      <nav>
        <ul class="nav-links">
          <li><a href="../../index.html" data-link>INICIO</a></li>
          <li><a href="/courses" data-link>CURSOS</a></li>
          <li><a href="/about_us" data-link>NOSOTROS</a></li>
          <li><a href="#" class="ul-active" data-link>COMUNIDAD</a></li>
          <li><a href="#" data-link>TESTIMONIOS</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-trigger" data-link>CONTACTO <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/contact_us" data-link>Ir a Contacto</a></li>
              <li><a href="/work-with-us" data-link>Trabaja con nosotras</a></li>
            </ul>
          </li>
          <li><a href="#" data-link>FAQ</a></li>

          <li class="mobile-actions">
            <a href="/signup">
              <button class="btn-enroll">¡Inscríbete!</button>
            </a>
            <div class="icons-nav mobile-icons">
              <a href="/login" class="icon-btn">
                <img src="../assets/icons/USERICON.svg" alt="Perfil" />
              </a>
              <a href="/cart" class="icon-btn cart">
                <img src="../assets/icons/SHOPPINGCARTICON.svg" alt="Carrito" />
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <div class="nav-actions desktop-actions">
      <a href="/signup">
        <button class="btn-enroll">¡Inscríbete!</button>
      </a>
      <div class="icons-nav">
        <a href="/login" class="icon-btn">
          <img src="../assets/icons/USERICON.svg" alt="Perfil" />
        </a>
        <a href="/cart" class="icon-btn cart">
          <img src="../assets/icons/SHOPPINGCARTICON.svg" alt="Carrito" />
        </a>
      </div>
    </div>
  </header>
  <div class="menu-overlay"></div>
  <!-- FIN Navbar -->

  <main class="container-community">
    <section class="community-banner-container" class="panel-1-text">
      <p>No solo vendemos cursos...</p>
      <h6>¡Creamos comunidad!</h6>
      <p>Te ofrecemos un espacio interactivo para dominar nuevos idiomas.</p>
    </section>
    <section class="community-img-container community-img">
      <img src="/src/assets/images/community.jpg" />
    </section>
    <section class="community-courses-container">
      <p>Aprende el <span>IDIOMA</span></p>
      <p>¡Vive la <span>Cultura!</span></p>
      <a href="/courses" class="badge">Cursos</a>
    </section>
    <section class="community-header-container">
      <p>Taller de Lectura, Dibujo de Manga y Taller de Traducción</p>
    </section>
    <section class="community-links-container">
      <section class="community-img-container overlay-img-container manga">
        <img src="/src/assets/images/lectura.jpg" class="bg-img" />
        <p class="overlay-text">Lectura de <span>Manga</span></p>
      </section>
      <section class="community-img-container overlay-img-container translation">
        <img src="/src/assets/images/traducir.jpg" class="bg-img" />
        <p class="overlay-text"><span>Traducción</span></p>
      </section>
      <section class="community-img-container overlay-img-container drawing">
        <img src="/src/assets/images/dibujo.jpg" class="bg-img" />
        <p class="overlay-text">Dibujo de <span>Manga</span></p>
      </section>
    </section>
  </main>
  <!-- FIN del panel 1 y 2-->

  <!-- Footer -->
  <footer class="main-footer">
    <a href="#">Términos y Condiciones | Aviso de Privacidad | © 2026 Aprenidiomas -
      Powered by NaN</a>
  </footer>

  <script src="../js/animations_Home.js" type="module" defer></script>

</body>

</html>