<!doctype html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Questrial&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/midorima-personal-use" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/gang-of-three" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Geom:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/src/assets/css/styles_Courses.css" />
  <script src="/src/js/animations_Courses.js" type="module" defer></script>
</head>

<body>
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo-container">
      <a href="../../index.html">
        <img src="/src/assets/icons/AprenIdiomas_LOGO-01.svg" alt="Logo" class="logo" />
      </a>
    </div>

    <button class="hamburger" aria-label="Abrir menú" aria-expanded="false" aria-controls="main-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div class="nav-menu" id="main-menu">
      <nav>
        <ul class="nav-links">
          <li><a href="../../index.html" data-link>INICIO</a></li>
          <li><a href="/courses" class="ul-active" data-link>CURSOS</a></li>
          <li><a href="/about_us" data-link>NOSOTROS</a></li>
          <li><a href="/community" data-link>COMUNIDAD</a></li>
          <li><a href="#" data-link>TESTIMONIOS</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-trigger" data-link>CONTACTO <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/contact_us" data-link>Contáctanos</a></li>
              <li><a href="/work-with-us" data-link>Trabaja con nosotras</a></li>
            </ul>
          </li>
          <li><a href="#" data-link>FAQ</a></li>

          <li class="mobile-actions">
            <a href="/signup">
              <button class="btn-enroll">¡Inscríbete!</button>
            </a>
            <div class="icons-nav mobile-icons">
              <a href="/login" class="icon-btn">
                <img src="../assets/icons/USERICON.svg" alt="Perfil" />
              </a>
              <a href="/cart" class="icon-btn cart">
                <img src="../assets/icons/SHOPPINGCARTICON.svg" alt="Carrito" />
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>

    <div class="nav-actions desktop-actions">
      <a href="/signup">
        <button class="btn-enroll">¡Inscríbete!</button>
      </a>
      <div class="icons-nav">
        <a href="/login" class="icon-btn">
          <img src="../assets/icons/USERICON.svg" alt="Perfil" />
        </a>
        <a href="/cart" class="icon-btn cart">
          <img src="../assets/icons/SHOPPINGCARTICON.svg" alt="Carrito" />
        </a>
      </div>
    </div>
  </header>
  <!-- FIN Navbar -->

  <!-- Panel 1 Descripción About -->
  <main class="container-courses">

    <!-- Contenido de los cursos -->
    <section class="courses-product-section" id="courses-container"></section>
    
    <section class="courses-explore-container">
      <h6>Explora la cultura detrás del idioma...</h6>
      <div class="courses-links-container">
        <a href="https://gitmind.com/es/mejores-paginas-para-leer-manga-gratis.html" class="badge">Manga & Anime</a>
        <a href="https://humanidades.com/cultura-de-japon/" class="badge">Cultura Japonesa</a>
        <a href="https://gogohanguk.com/es/blog/alfabeto-coreano-hangul/" class="badge">Hangul</a>
        <a href="https://clicasia.com/como-prepararte-para-el-topik-los-antiguos-examenes-son-una-buena-forma-de-practicar/"
          class="badge">Preparación TOPIK</a>
      </div>
    </section>
    <section class="courses-socials">
      <p>Sigue la historia en nuestras redes</p>
      <div class="courses-socials-icons">
        <img src="../assets/icons/instagram.svg" class="icon" />
        <img src="../assets/icons/tiktok.svg" class="icon" />
        <img src="../assets/icons/facebook.svg" class="icon" />
      </div>
    </section>
    <img />
  </main>
  <!-- FIN del panel 1 y 2-->

  <!-- Footer -->
  <footer class="main-footer">
    <a href="/TyC">Términos y Condiciones | Aviso de Privacidad | © 2026 Aprenidiomas - Powered by NaN</a>
  </footer>

  <script src="../js/animations_Courses.js" type="module"></script>
  <script src="../js/form_courses.js" type="module"></script>

</body>

</html>